.card{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 16px 8px;
    font-size: 12px;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.card-img{
    height: 120px;
    width: 120px;
}
.card-img-top{
    height: 130px;
    max-width: 130px;
}
.card-title{
    text-align: center;
    font-size: 15px;
}
.btn-primary{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
.feature-heading{
    background-color: var(--text-secondary-background-color);
    h4{
        color: var(--text-secondary-color);
        font-size: 19px;
        padding: 8px;
        text-transform: uppercase;
    }
}