// @import "~@fortawesome/fontawesome-free/css/all.css";
//Colors

:root{
    --primary-color:#022E4C;
    --text-primary-color:#022E4C;
    --text-secondary-color:#49494a;
    --text-secondary-background-color:#E7E7E7
}