.card {
    max-width: 400px;
    width: 100%;
  }
  
  .btn-link {
    color: var(--primary-color);
  }
  .btn-primary{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}  